<h2>Editing "<%= @article.title %>"</h2>
<%= form_tag post_path(@article), method: "patch" do %>
<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @article.errors[:title].empty? %>
    <div class="field">
  <% else %>
    <div class = "field_with_errors">
  <% end %>
  <%= label_tag "title", "Title" %>
    <%= text_field_tag "title", @article.title %>
  </div>
  <% if @article.errors[:category].empty? %>
      <div class="field">
    <% else %>
      <div class = "field_with_errors">
    <% end %>
      <%= label_tag "category", "Category" %>
      <p>Must be either "Fiction" or "Non-Fiction".</p>
      <%= text_field_tag "category", @article.category %>
    </p>
</div>
<% if @article.errors[:content].empty? %>
   <div class="field">
 <% else %>
   <div class = "field_with_errors">
 <% end %>
   <%= label_tag "content", "Content" %><br />
   <%= text_area_tag "content", @article.content %>
 </div>
 <%= submit_tag "Create" %>
<% end %>
